@model IEnumerable<Project_8_MVC_Batool.InRolement>

<table class="table table-striped">
    <tr>
        <th>
            Course Name
        </th>
        <th>
            Time
        </th>
        <th>
            Days
        </th>
        <th>
            Action
        </th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Time.Cours.CourseName</td>
            <td>@item.Time.Course_Time</td>
            <td>@item.Time.Course_Day</td>
            <td><a href="removeCourse?enrolID=@item.Course_Student_Id" class="btn btn-danger"> Remove</a></td>
        </tr>


    }
</table>
