@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav-link" ,style="display:inline`" }))
    {
    @Html.AntiForgeryToken()

   
       
        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

    }
}
else
{

         <li><a href="https://localhost:44370/Account/Register" >register</a> </li>
   

        
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
